.heading{
    color: var(--secondary);
    text-align: center;
    margin-top: 3rem;
    
    line-height: 0.5;
    padding-top: 2rem;
}

.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.contact .card-wrapper .card{
    text-align: center;
}
.contact .card-wrapper .card img{
    margin-bottom: 1rem;

}
.contact .card-wrapper .card h2{
    font-weight: 400;
    margin-bottom: 0.5rem;

}
.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
    margin-bottom: 2rem;
}
form{
    height: 20rem;
    margin: 6rem;
    
}
.contact .input-wrap{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:2rem;
    margin-bottom:2rem;
}
.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
.contact .input-wrap-2 input{
    margin-bottom:2rem;
}
.contact input{
    padding:0.5rem;
    border:1px solid var(--secondary);
    font-size: 0.9rem;
}
.contact .input-wrap-2 textarea{
    padding:0.5rem;
    border:1px solid var(--secondary);
    font-size: 0.9rem;
}
.contact .input-wrap-2 textarea:focus, section.contact input:focus{
    outline: none;  
}
 .pppp{
    margin-top: 2rem;
    margin-left:42%;
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
    background: var(--primary);
    color: var(--secondary);
}
.pppp:hover{
    background: var(--dark);
    border-color: var(--primary);
    color: var(--primary);
}

@media (max-width:550px){
    .contact .card-wrapper {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
.contact .input-wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}
.pppp {
    margin-top: 2rem;
    margin-left: 0%;
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
    background: var(--primary);
    color: var(--secondary);
}
}
